################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/msvc/obj
/msvc/bin/
/msvc/libmobi.vcxproj.user
